* {
    margin: 0px;
    padding: 0px;
    width: auto;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
header {
    background-color: #1E1E1E;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 15px;
    width: auto;
    height: auto;
}
  li{
    display: inline-block;
    margin-left: 50px;
    text-align: justify;
    margin-top: 0px;
    
  }
.prime {
    width: 100%;
    height: auto;
}
.setadireita {
    margin-bottom: 150px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
.setaesquerda {
    margin-bottom: 150px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
h1{
    font-size: 15px;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-align:justify;
    letter-spacing: 2px;
    
}
div {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 50px;
    width: auto;
}
footer{
    background-color: #1E1E1E;
    height: 120px;
    text-align: center;
    color: white;
}
p {
    padding-top: 30px;
    font-size: 15px;
    width: auto;
    height: auto;
}